{% extends 'Base.html' %} 
{% block title %} 
    OTT_VIDEO
{% endblock title %}
{% block body %} 
<div>
    <div style='background-color: rgb(44, 43, 43);'>
    <center><img style="filter: brightness(150%);" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699290-icon-60-file-ott-512.png"  width="200px" height="75px"></center>
    </div>
    <div id="div15" style="height:500px;">
        {% if t==1 %}
        <div class="d-flex justify-content-center ">
        <video style="margin-top:5%;" width="65%" height="100%" controls>
        <source src="{{ url_for('static', filename='video/Meme.mp4') }}" type="video/mp4">
        </video>
    </div>
        {% else %}
            <br><br><br><br><br>
            <br><br><br><br><br>
            <div id="div_log_in" style="padding-top:50px;width:55%;margin-left:20%;">
            <h1 style="font-size:35px;text-align:center"> Select the Subscription pack for watch that Show</h1>
            <form action="/Subscription/" method="POST">
            <div style="display:none"><input  type="text" id="Customer_id" name="Customer_id" value="{{id}}"></div>
            <center><button class="btn6" style="margin-left:0%;width:70%"> Subscribe Now </button></center></form>
            </div>
        {% endif %}
    </div>
{% endblock body %}