{% extends 'Base.html' %} 
{% block title %} 
    OTT_USER_DATA
{% endblock title %}
{% block body %} 
    <div>
        <div style='background-color: rgb(44, 43, 43);'>
        <center><img style="filter: brightness(150%);" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699290-icon-60-file-ott-512.png"  width="200px" height="75px"></center>
        </div>
        <div id="div_user" style="display:flex;">
            <div id="div9" >
                <h1 style="text-align:center;">Presional information</h1><br>
                <span class="span4">First Name</span><span class="span4" style="margin-left:0px;">:</span><span class="span3">{{customber_data[3]}}</span><br><br>
                <span class="span4">Last Name</span><span class="span4" style="margin-left:6.5px;">:</span><span class="span3">{{customber_data[2]}}</span><br><br>
                <span class="span4">Email Ac.</span><span class="span4" style="margin-left:21.5px;">:</span><span class="span3">{{customber_data[0]}}</span><br><br>
                <span class="span4">Mobile no.</span><span class="span4" style="margin-left:11px;">:</span><span class="span3">{{customber_data[6]}}&ensp;
                {% if customber_data[7]!=' ' %}
                ,&ensp;{{customber_data[7]}}
                {% endif %}
                </span><br><br>
                <span class="span4">Address 1</span><span class="span4" style="margin-left:12.5px;">:</span><span class="span3" style="font-size:22px;">&nbsp;{{customber_data[4][:60]}}</span><br><br>
                {% if customber_data[5]!=' ' %}
                <span class="span4">Address 2</span><span class="span4" style="margin-left:12.5px;">:</span><span class="span3" style="font-size:22px;">&nbsp;{{customber_data[5][:60]}}</span><br><br>
                {% endif %}
            </div>
            <div id="div10">
                <h1 style="text-align:center;color:rgb(69, 145, 245);">Subscription information</h1><br>
                <div class="d-flex justify-content-center">
                    <table class="table1">
                        <tr>
                            <th>Subscription ID</th>
                            <th>Subscription date</th>
                            <th>Expire info</th>
                            <th>Subscription Type</th>
                            <th>Price</th>
                        </tr>
                        {% for data in Subscription_data %}
                        <tr>
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div id="div11">
                <h1 style="text-align:center;color:rgb(69, 145, 245);">Payment  information</h1><br>
                <div class="d-flex justify-content-center">
                    <table class="table1">
                        <tr>
                            <th>Payment No</th>
                            <th>Subscription Type</th>
                            <th>Amount</th>
                            <th>Payment date</th>
                            <th>Payment type</th>
                        </tr>
                        {% for data in payment_data %}
                        <tr>
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div id="div12" >
                <div class="d-flex justify-content-center center">
                    <div id="div_log_in">
                        <br><br>
                            <form action="/Change_Password/" method="POST">
                                <center><div style="display:none"><input  type="text" id="Customer_id" name="Customer_id" value="{{id}}"></div>
                                <span class="para1" style="margin-left:-2rem">Email Ac.</span><span style="margin-left:6.5rem" ></span><input  placeholder='Enter Your Email' class="btn8" type="email" id="email1" name="email1" value="{{values[0]}}"><br><br>
                                <span class="para1" style="margin-left:-2rem">New Password</span><span style="margin-left:2.5rem"></span><input  placeholder='Enter New Password' class="btn8" type="password" id="password1" name="password1" value="{{values[1]}}"><br><br>
                                <span class="para1" style="margin-left:-2rem">confirm Password</span><span class="para1"></span><input placeholder='Enter New Password' class="btn8" type="password" id="password2" name="password2" value="{{values[2]}}"><br><br>
                                <button class="btn4" type="submit" style="font-size: 25px;margin-top:50px;">Set Password</button><br>
                                <span style="color: rgb(255, 81, 0);font-weight:bold;">{{error_e}}<br></span><br>
                                <span style="color: rgb(255, 81, 0);font-weight:bold;">{{error_p}}<br></span><br>
                                <span style="color: rgb(255, 81, 0);font-weight:bold;">{{error_r}}<br></span><br></center>
                            </form>
                        <br>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div id="div_btns" style="">
                    <div class="d-flex justify-content-center center">
                        <button class="btns" onclick="subdata()" id="subscrib" >Subscription list</button>
                        <button class="btns" onclick="paydata()" id="pay" >Payment list</button>
                        <button class="btns" onclick="presonaldata()" id="presonal" >Presional info</button>
                        <form action="/Sign_up/" method="POST">
                            <div style="display:none"><input  type="text" id="Customer_id" name="Customer_id" value="{{id}}"></div>
                            <div style="display:none"><input  type="text" id="data_all" name="data_all" value="{{customber_data}}"></div>
                            <button class="btns">Update data</button>
                        </form>
                        <button class="btns" onclick="pass1()" >Change Password</button>
                    </div>
                </div>
            </div>
            <form action='/Home_page/' method="POST">
            <center><button class="btn6" id="logout_btn" type="submit" style="font-size: 25px;margin-top:25px;">Logout</button></center></form>
            </div>
        </div>
        {% if check==1 %}
        <script>
            document.getElementById('div9').style.display="none";
            document.getElementById('div10').style.display="none";
            document.getElementById('div11').style.display="none";
            document.getElementById('div_btns').style.display="none";
            document.getElementById('logout_btn').style.display="none";
            document.getElementById('div12').style.display="block";
        </script>
        {% endif %}
        
{% endblock body %}  